/*
* Andy Le
* 000805099
* CSS for index page
* I, Andy Le, 000805099 certify that this material is my original work. No other person's work has been used without due acknowledgement.
*/
body {
	margin: 0;
	border: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	background-color: #F6CACB;
}

header {
	width: 50%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid black;
}
#hleft {
	width: 100%;
}

#hleft, #hright {
	align-self: center;
	text-align: center;
}

#inputs {
	display: flex;
	justify-content: center;
	width: 50%;
	margin-bottom: 20px;
}

.myInput {
	padding: 5px;
}

button {
	width: 50px;
	border-radius: 25px;
	background-color: #AEC5E0;
	outline: none;
}

#studentList {
	border: 1px solid black;
	width: 50%;
	align-items: start;
} 

#alert {
	margin-top: 20px;
}


